<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="main_style.css">
    <title>Home Page</title>
</head>

<body>
    <div class="header">
        <h1>Restaurant Homepage</h1>
        <p>Thriving to make good food</p>
      </div>

    <div class="navbar">
        <a href="/order_food">Order</a>
        <a href="/booking">Book a table</a>
        <a href="/logout" class="right">Log-out</a>
    </div>
    <br>
    <h2> Welcome! </h2>
    <!--Thank you Egon for insporation for my website!-->
    <div class="information_table">
    <table>
        <tbody>
            <tr>
                <td><a href="/order_food">Order</a></td>
                <td><a href="/booking">Book a table</a></td>
                <td><a href="/about">About us</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    <br>
    <div class="footer_content">
    <div class="footer_contact">
        <h3>Thenil Administration</p>
        <h3>Bodøveien 40b</p>
        <h3>Postbox 2643 Sentrum</p>
        <h3>8025 Bodø</p>
            <a href="mailto:post@thenil.com">post@thenil.com</a>
    </div>  
    <div class="footer_links">
        <div class="footer_link">
            <a href="/about">About us</a> 
        </div>
        <div class="footer_link">
            <a href="/work">Work at our restaurant!</a> 
        </div>
        <div class="footer_link">
            <a href="/giftcards">Giftcards</a> 
        </div>
    </div>
    <h3>© Thenil & Corporate™ </h3>
    

    </div>

</body>

</html>