<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign up</title>
    <link rel="stylesheet" href="style_sign.css">
</head>
<body>
  <div class="container">
    <div class="registration form">
      <header>Sign up</header>

      <form action="/signup" method="post">
        <div class="input-field">
          <input type="text" name="firstname" id="firstname" placeholder="Enter your firstname"></div>
        <div class="input-field">
          <input type="text" name="lastname" id="lastname" placeholder="Enter your lastname"></div>
        <div class="input-field">
          <input type="password" name="password" id="password" placeholder="Create a password"></div>
        <div class="input-field">
          <input type="text" name="phone_nr" id="phone_nr" placeholder="Enter your phone number"></div>
        <div class="input-field">
          <input type="text" name="email" id="email" placeholder="Enter your email"></div>
        <input type="submit" value="Create User">
      </form>
      
      <div class="signup">
        <span class="signup">Already have an account?
          <a href="/back_user_login"><label for="check">Login</label></a>
        </span>
      </div>
    </div>
  </div> 
</body>
</html>